name: clang-format linter

on: [push,pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: InsightSoftwareConsortium/ITKClangFormatLinterAction@main
      with:
        itk-branch: master
        error-message: "Remote module code is inconsistent with ITK Coding Style as of 20241205."
